In [1]:
import pandas as pd

data = pd.read_csv('D:\dev\project\Football-Match-Prediction\data\processed\la_liga_data.csv')
data['Time'] = pd.to_datetime(data['Time'])
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5520 entries, 0 to 5519
Data columns (total 165 columns):
 #    Column                Dtype
---   ------                -----
 0    Time                  datetime64[ns]
 1    Comp                  object
 2    Round                 int64
 3    Day                   int64
 4    Venue                 int64
 5    Result                object
 6    GF                    float64
 7    GA                    float64
 8    Opponent              object
 9    xG                    float64
 10   xGA                   float64
 11   Captain               object
 12   Formation             object
 13   Opp Formation         object
 14   Referee               object
 15   Standard__Gls         int64
 16   Standard__Sh          float64
 17   Standard__SoT         float64
 18   Standard__SoT%        float64
 19   Standard__G/Sh        float64
 20   Standard__G/SoT       float64
 21   Standard__Dist        float64
 22   Standard__FK          float64
 23   Standard__PK          int64
 24   Standard__PKatt       int64
 25   Expected__xG          float64
 26   Expected__npxG        float64
 27   Expected__npxG/Sh     float64
 28   Expected__G-xG        float64
 29   Expected__np:G-xG     float64
 30   Performance__SoTA     float64
 31   Performance__GA       float64
 32   Performance__Saves    float64
 33   Performance__Save%    float64
 34   Performance__CS       float64
 35   Performance__PSxG     float64
 36   Performance__PSxG+/-  float64
 37   Penalty Kicks__PKatt  float64
 38   Penalty Kicks__PKA    float64
 39   Penalty Kicks__PKsv   float64
 40   Penalty Kicks__PKm    float64
 41   Launched__Cmp         float64
 42   Launched__Att         float64
 43   Launched__Cmp%        float64
 44   Passes__Att (GK)      float64
 45   Passes__Thr           float64
 46   Passes__Launch%       float64
 47   Passes__AvgLen        float64
 48   Goal Kicks__Att       float64
 49   Goal Kicks__Launch%   float64
 50   Goal Kicks__AvgLen    float64
 51   Crosses__Opp          float64
 52   Crosses__Stp          float64
 53   Crosses__Stp%         float64
 54   Sweeper__#OPA         float64
 55   Total__Cmp            float64
 56   Total__Att            float64
 57   Total__Cmp%           float64
 58   Total__TotDist        float64
 59   Total__PrgDist        float64
 60   Short__Cmp            float64
 61   Short__Att            float64
 62   Short__Cmp%           float64
 63   Medium__Cmp           float64
 64   Medium__Att           float64
 65   Medium__Cmp%          float64
 66   Long__Cmp             float64
 67   Long__Att             float64
 68   Long__Cmp%            float64
 69   Ast                   int64
 70   xAG                   float64
 71   xA                    float64
 72   KP                    float64
 73   1/3                   float64
 74   PPA                   float64
 75   CrsPA                 float64
 76   PrgP                  float64
 77   Att                   float64
 78   Pass Types__Live      float64
 79   Pass Types__Dead      float64
 80   Pass Types__FK        float64
 81   Pass Types__TB        float64
 82   Pass Types__Sw        float64
 83   Pass Types__Crs       float64
 84   Pass Types__TI        float64
 85   Pass Types__CK        float64
 86   Corner Kicks__In      float64
 87   Corner Kicks__Out     float64
 88   Corner Kicks__Str     float64
 89   Outcomes__Cmp         float64
 90   Outcomes__Off         float64
 91   Outcomes__Blocks      float64
 92   SCA Types__SCA        float64
 93   SCA Types__PassLive   float64
 94   SCA Types__PassDead   float64
 95   SCA Types__TO         float64
 96   SCA Types__Sh         float64
 97   SCA Types__Fld        float64
 98   SCA Types__Def        float64
 99   GCA Types__GCA        float64
 100  GCA Types__PassLive   float64
 101  GCA Types__PassDead   float64
 102  GCA Types__TO         float64
 103  GCA Types__Sh         float64
 104  GCA Types__Fld        float64
 105  GCA Types__Def        float64
 106  Tackles__Tkl          float64
 107  Tackles__TklW         float64
 108  Tackles__Def 3rd      float64
 109  Tackles__Mid 3rd      float64
 110  Tackles__Att 3rd      float64
 111  Challenges__Tkl       float64
 112  Challenges__Att       float64
 113  Challenges__Tkl%      float64
 114  Challenges__Lost      float64
 115  Blocks__Blocks        float64
 116  Blocks__Sh            float64
 117  Blocks__Pass          float64
 118  Int                   float64
 119  Tkl+Int               int64
 120  Clr                   float64
 121  Err                   float64
 122  Touches__Touches      float64
 123  Touches__Def Pen      float64
 124  Touches__Def 3rd      float64
 125  Touches__Mid 3rd      float64
 126  Touches__Att 3rd      float64
 127  Touches__Att Pen      float64
 128  Touches__Live         float64
 129  Take-Ons__Att         float64
 130  Take-Ons__Succ        float64
 131  Take-Ons__Succ%       float64
 132  Take-Ons__Tkld        float64
 133  Take-Ons__Tkld%       float64
 134  Carries__Carries      float64
 135  Carries__TotDist      float64
 136  Carries__PrgDist      float64
 137  Carries__PrgC         float64
 138  Carries__1/3          float64
 139  Carries__CPA          float64
 140  Carries__Mis          float64
 141  Carries__Dis          float64
 142  Receiving__Rec        float64
 143  Receiving__PrgR       float64
 144  Performance__CrdY     int64
 145  Performance__CrdR     int64
 146  Performance__2CrdY    int64
 147  Performance__Fls      float64
 148  Performance__Fld      float64
 149  Performance__Off      float64
 150  Performance__Crs      float64
 151  Performance__Int      float64
 152  Performance__TklW     float64
 153  Performance__PKwon    float64
 154  Performance__PKcon    float64
 155  Performance__OG       float64
 156  Performance__Recov    float64
 157  Aerial Duels__Won     float64
 158  Aerial Duels__Lost    float64
 159  Aerial Duels__Won%    float64
 160  Season                int64
 161  Team                  object
 162  Points                int64
 163  Poss                  float64
 164  GD                    float64
dtypes: datetime64[ns](1), float64(143), int64(13), object(8)
memory usage: 6.9+ MB

In [2]:
data.head()

,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,xG,...,Performance__OG,Performance__Recov,Aerial Duels__Won,Aerial Duels__Lost,Aerial Duels__Won%,Season,Team,Points,Poss,GD
0,2017-08-18 20:15:00,La Liga,1,5,0,L,0.0,1.0,Leganes,1.1,...,0.0,60.0,16.0,30.0,34.8,2017,Alaves,0,47.0,-1.0
1,2017-08-18 20:15:00,La Liga,1,5,1,W,1.0,0.0,Alaves,1.3,...,0.0,55.0,30.0,16.0,65.2,2017,Leganes,3,53.0,1.0
2,2017-08-18 22:15:00,La Liga,1,5,0,L,0.0,1.0,Valencia,0.2,...,0.0,42.0,6.0,8.0,42.9,2017,Las Palmas,0,53.0,-1.0
3,2017-08-18 22:15:00,La Liga,1,5,1,W,1.0,0.0,Las Palmas,1.4,...,0.0,54.0,8.0,6.0,57.1,2017,Valencia,3,47.0,1.0
4,2017-08-19 18:15:00,La Liga,1,6,1,L,2.0,3.0,Real Sociedad,1.8,...,0.0,48.0,11.0,12.0,47.8,2017,Celta Vigo,0,53.0,-1.0

In [3]:
data.drop(columns=['Comp', 'Day', 'Captain', 'Formation', 'Opp Formation', 'Referee'], inplace=True)

#### Get current form features

In [4]:
current_form_features = ['GF', 'GA', 'GD', 'Standard__SoT', 'Poss', 'Performance__Save%']
window_size = 5

In [5]:
# Sort the data by Team, Season, Round, and Time
data = data.sort_values(['Team', 'Season', 'Round', 'Time'])
train_data = data[['Time', 'Season', 'Venue', 'Round', 'Team', 'Opponent', 'GF', 'GA', 'Result']].copy()
# Calculate rolling averages for the last 5 matches
for feature in current_form_features:
    train_data[f"{feature}_avg_last5"] = data.groupby('Team')[feature].transform(
        lambda x: x.shift().rolling(window=window_size, min_periods=1).mean()
    )

train_data['CurrentPoints'] = data.groupby(['Team', 'Season'])['Points'].transform(
    lambda x: x.shift().cumsum()
).fillna(0)

In [6]:
train_data.sort_values(['Team', 'Season', 'Round', 'Time'], inplace=True)
train_data[['Team', 'Season', 'Round', 'Time', 'CurrentPoints']].head(45)

       Team  Season  Round                Time  CurrentPoints
0    Alaves    2017      1 2017-08-18 20:15:00            NaN
25   Alaves    2017      2 2017-08-26 18:15:00            0.0
55   Alaves    2017      3 2017-09-10 18:30:00            0.0
70   Alaves    2017      4 2017-09-17 12:00:00            0.0
88   Alaves    2017      5 2017-09-20 21:00:00            0.0
103  Alaves    2017      6 2017-09-23 16:15:00            0.0
127  Alaves    2017      7 2017-09-30 18:30:00            0.0
147  Alaves    2017      8 2017-10-14 18:30:00            3.0
162  Alaves    2017      9 2017-10-21 16:15:00            3.0
181  Alaves    2017     10 2017-10-28 13:00:00            3.0
206  Alaves    2017     11 2017-11-04 18:30:00            3.0
222  Alaves    2017     12 2017-11-18 13:00:00            6.0
242  Alaves    2017     13 2017-11-25 13:00:00            6.0
279  Alaves    2017     14 2017-12-04 21:00:00            6.0
281  Alaves    2017     15 2017-12-08 21:00:00            9.0
306  Alaves    2017     16 2017-12-16 20:45:00           12.0
327  Alaves    2017     17 2017-12-21 21:30:00           12.0
351  Alaves    2017     18 2018-01-07 18:30:00           15.0
370  Alaves    2017     19 2018-01-14 16:15:00           15.0
388  Alaves    2017     20 2018-01-21 12:00:00           18.0
415  Alaves    2017     21 2018-01-28 20:45:00           19.0
424  Alaves    2017     22 2018-02-03 18:30:00           19.0
440  Alaves    2017     23 2018-02-10 13:00:00           22.0
464  Alaves    2017     24 2018-02-17 18:30:00           25.0
484  Alaves    2017     25 2018-02-24 16:15:00           28.0
519  Alaves    2017     26 2018-03-01 21:30:00           28.0
535  Alaves    2017     27 2018-03-04 18:30:00           31.0
559  Alaves    2017     28 2018-03-12 21:00:00           31.0
565  Alaves    2017     29 2018-03-17 16:15:00           31.0
589  Alaves    2017     30 2018-04-01 12:00:00           31.0
603  Alaves    2017     31 2018-04-07 13:00:00           32.0
632  Alaves    2017     32 2018-04-15 12:00:00           35.0
652  Alaves    2017     33 2018-04-19 19:30:00           38.0
670  Alaves    2017     34 2018-04-22 17:30:00           38.0
689  Alaves    2017     35 2018-04-29 16:15:00           41.0
706  Alaves    2017     36 2018-05-06 12:00:00           41.0
730  Alaves    2017     37 2018-05-12 18:30:00           44.0
748  Alaves    2017     38 2018-05-19 18:30:00           47.0
768  Alaves    2018      1 2018-08-18 22:15:00            NaN
785  Alaves    2018      2 2018-08-25 18:15:00            0.0
812  Alaves    2018      3 2018-09-02 16:15:00            1.0
832  Alaves    2018      4 2018-09-16 18:30:00            4.0
840  Alaves    2018      5 2018-09-22 13:00:00            7.0
875  Alaves    2018      6 2018-09-27 20:00:00           10.0
893  Alaves    2018      7 2018-09-30 18:30:00           11.0

In [ ]:
prematch_cols = ['Time', 'Round', 'Venue', 'Season']
# train_data = data[prematch_cols + ['Team', 'Opponent', 'Result', 'GF', 'GA']].sort_values(by=['Season', 'Round', 'Time'])
# Rename columns to include 'HomeTeam_' prefix where Venue == 1
df_team = train_data[train_data['Venue'] == 1].copy()
df_team['HomeTeam'] = df_team['Team']
df_team.drop(columns=['Team'], inplace=True)
df_team['AwayTeam'] = df_team['Opponent']
df_team.drop(columns=['Opponent'], inplace=True)
df_team = df_team.rename(columns=lambda x: f"HomeTeam_{x}" if x not in (prematch_cols + ['HomeTeam', 'AwayTeam']) else x)
df_team.drop(columns=['Venue'], inplace=True)
df_opponent = train_data[train_data['Venue'] == 0].copy()
df_opponent['AwayTeam'] = df_opponent['Team']
df_opponent = df_opponent.drop(columns=['Team'])
df_opponent['HomeTeam'] = df_opponent['Opponent']
df_opponent = df_opponent.drop(columns=['Opponent'])
df_opponent = df_opponent.rename(columns=lambda x: f"AwayTeam_{x}" if x not in (prematch_cols + ['HomeTeam', 'AwayTeam']) else x)
df_opponent.drop(columns=['Venue'], inplace=True)   
# Merge the two dataframes
prematch_cols.remove('Venue')
train_data_merged = pd.merge(df_team, df_opponent, on=(prematch_cols + ['HomeTeam', 'AwayTeam']))
train_data_merged.drop(columns=['HomeTeam_GA', 'AwayTeam_GA', 'AwayTeam_Result'], inplace=True)

In [11]:
train_data_merged = train_data_merged.sort_values(['Season', 'Round', 'Time']).reset_index(drop=True)
train_data_merged.head(45)

,Time,Season,Round,HomeTeam_GF,HomeTeam_Result,HomeTeam_GF_avg_last5,HomeTeam_GA_avg_last5,HomeTeam_GD_avg_last5,HomeTeam_Standard__SoT_avg_last5,HomeTeam_Poss_avg_last5,...,HomeTeam,AwayTeam,AwayTeam_GF,AwayTeam_GF_avg_last5,AwayTeam_GA_avg_last5,AwayTeam_GD_avg_last5,AwayTeam_Standard__SoT_avg_last5,AwayTeam_Poss_avg_last5,AwayTeam_Performance__Save%_avg_last5,AwayTeam_CurrentPoints
0,2017-08-18 20:15:00,2017,1,1.0,W,NaN,NaN,NaN,NaN,NaN,...,Leganes,Alaves,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-08-18 22:15:00,2017,1,1.0,W,NaN,NaN,NaN,NaN,NaN,...,Valencia,Las Palmas,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-08-19 18:15:00,2017,1,2.0,L,NaN,NaN,NaN,NaN,NaN,...,Celta Vigo,Real Sociedad,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-08-19 20:15:00,2017,1,2.0,D,NaN,NaN,NaN,NaN,NaN,...,Girona,Atletico Madrid,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-08-19 22:15:00,2017,1,1.0,D,NaN,NaN,NaN,NaN,NaN,...,Sevilla,Espanyol,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-08-20 18:15:00,2017,1,0.0,D,NaN,NaN,NaN,NaN,NaN,...,Athletic Club,Getafe,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-08-20 20:15:00,2017,1,2.0,W,NaN,NaN,NaN,NaN,NaN,...,Barcelona,Real Betis,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017-08-20 22:15:00,2017,1,0.0,L,NaN,NaN,NaN,NaN,NaN,...,Deportivo La Coruna,Real Madrid,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-08-21 20:15:00,2017,1,1.0,W,NaN,NaN,NaN,NaN,NaN,...,Levante,Villarreal,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2017-08-21 22:00:00,2017,1,0.0,L,NaN,NaN,NaN,NaN,NaN,...,Malaga,Eibar,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2017-08-25 20:15:00,2017,2,3.0,W,3.000000,2.000000,1.000000,5.000000,47.000000,...,Real Sociedad,Villarreal,0.0,0.000000,1.000000,-1.000000,1.000000,58.000000,100.000000,0.0
11,2017-08-25 22:00:00,2017,2,2.0,W,0.000000,2.000000,-2.000000,0.000000,39.000000,...,Real Betis,Celta Vigo,1.0,2.000000,3.000000,-1.000000,5.000000,53.000000,66.700000,0.0
12,2017-08-26 18:15:00,2017,2,0.0,L,0.000000,1.000000,-1.000000,4.000000,47.000000,...,Alaves,Barcelona,2.0,2.000000,0.000000,2.000000,2.000000,61.000000,NaN,3.0
13,2017-08-26 20:15:00,2017,2,1.0,W,2.000000,2.000000,0.000000,6.000000,52.000000,...,Girona,Malaga,0.0,0.000000,1.000000,-1.000000,4.000000,54.000000,83.300000,0.0
14,2017-08-26 20:15:00,2017,2,2.0,D,1.000000,0.000000,1.000000,2.000000,42.000000,...,Levante,Deportivo La Coruna,2.0,0.000000,3.000000,-3.000000,4.000000,32.000000,62.500000,0.0
15,2017-08-26 21:15:00,2017,2,1.0,L,0.000000,1.000000,-1.000000,4.000000,53.000000,...,Las Palmas,Atletico Madrid,5.0,2.000000,2.000000,0.000000,3.000000,48.000000,66.700000,1.0
16,2017-08-27 18:15:00,2017,2,0.0,L,1.000000,0.000000,1.000000,6.000000,46.000000,...,Eibar,Athletic Club,1.0,0.000000,0.000000,0.000000,2.000000,64.000000,100.000000,1.0
17,2017-08-27 18:15:00,2017,2,0.0,L,1.000000,1.000000,0.000000,6.000000,38.000000,...,Espanyol,Leganes,1.0,1.000000,0.000000,1.000000,3.000000,53.000000,100.000000,3.0
18,2017-08-27 20:15:00,2017,2,0.0,L,0.000000,0.000000,0.000000,2.000000,36.000000,...,Getafe,Sevilla,1.0,1.000000,1.000000,0.000000,4.000000,62.000000,75.000000,1.0
19,2017-08-27 22:15:00,2017,2,2.0,D,3.000000,0.000000,3.000000,8.000000,68.000000,...,Real Madrid,Valencia,2.0,1.000000,0.000000,1.000000,6.000000,47.000000,100.000000,3.0
20,2017-09-08 21:00:00,2017,3,1.0,L,1.000000,0.000000,1.000000,5.500000,47.000000,...,Leganes,Getafe,2.0,0.000000,0.500000,-0.500000,2.500000,40.000000,83.350000,1.0
21,2017-09-09 13:00:00,2017,3,1.0,D,2.500000,1.000000,1.500000,7.000000,67.000000,...,Real Madrid,Levante,1.0,1.500000,1.000000,0.500000,3.000000,49.500000,75.000000,4.0
22,2017-09-09 16:15:00,2017,3,0.0,D,1.500000,1.000000,0.500000,4.500000,40.500000,...,Valencia,Atletico Madrid,0.0,3.500000,1.500000,2.000000,4.500000,43.000000,70.850000,4.0
23,2017-09-09 18:30:00,2017,3,3.0,W,1.000000,0.500000,0.500000,3.500000,59.000000,...,Sevilla,Eibar,0.0,0.500000,0.500000,0.000000,5.500000,51.000000,87.500000,3.0
24,2017-09-09 20:45:00,2017,3,5.0,W,2.000000,0.000000,2.000000,6.000000,67.000000,...,Barcelona,Espanyol,0.0,0.500000,1.000000,-0.500000,3.500000,48.500000,81.250000,1.0
25,2017-09-10 12:00:00,2017,3,2.0,L,1.000000,2.500000,-1.500000,4.000000,37.500000,...,Deportivo La Coruna,Real Sociedad,4.0,3.000000,1.000000,2.000000,7.000000,53.500000,80.000000,6.0
26,2017-09-10 16:15:00,2017,3,2.0,W,0.500000,0.000000,0.500000,3.000000,54.000000,...,Athletic Club,Girona,0.0,1.500000,1.000000,0.500000,5.000000,48.500000,66.650000,4.0
27,2017-09-10 18:30:00,2017,3,1.0,W,1.500000,2.500000,-1.000000,3.000000,53.500000,...,Celta Vigo,Alaves,0.0,0.000000,1.500000,-1.500000,3.000000,37.000000,74.250000,0.0
28,2017-09-10 20:45:00,2017,3,3.0,W,0.000000,2.000000,-2.000000,1.000000,49.000000,...,Villarreal,Real Betis,1.0,1.000000,1.500000,-0.500000,1.500000,42.500000,0.000000,3.0
29,2017-09-11 21:00:00,2017,3,1.0,L,0.000000,1.000000,-1.000000,3.000000,54.500000,...,Malaga,Las Palmas,3.0,0.500000,3.000000,-2.500000,3.500000,57.500000,50.000000,0.0
30,2017-09-15 21:00:00,2017,4,1.0,W,0.333333,1.333333,-1.000000,4.000000,47.666667,...,Eibar,Leganes,0.0,1.000000,0.666667,0.333333,5.666667,51.666667,66.666667,6.0
31,2017-09-16 13:00:00,2017,4,1.0,D,1.333333,1.000000,0.333333,2.666667,43.666667,...,Levante,Valencia,1.0,1.000000,0.666667,0.333333,3.000000,43.333333,88.900000,5.0
32,2017-09-16 16:15:00,2017,4,1.0,L,0.666667,0.666667,0.000000,2.333333,39.666667,...,Getafe,Barcelona,2.0,3.000000,0.000000,3.000000,7.000000,70.000000,100.000000,9.0
33,2017-09-16 18:30:00,2017,4,2.0,W,1.000000,2.000000,-1.000000,2.000000,45.333333,...,Real Betis,Deportivo La Coruna,1.0,1.333333,3.000000,-1.666667,4.000000,39.333333,47.500000,1.0
34,2017-09-16 20:45:00,2017,4,1.0,W,2.333333,1.000000,1.333333,4.333333,45.666667,...,Atletico Madrid,Malaga,0.0,0.333333,1.666667,-1.333333,4.000000,53.000000,73.600000,0.0
35,2017-09-17 12:00:00,2017,4,0.0,L,0.000000,1.333333,-1.333333,3.000000,36.000000,...,Alaves,Villarreal,3.0,1.000000,1.666667,-0.666667,3.000000,49.000000,77.800000,3.0
36,2017-09-17 16:15:00,2017,4,0.0,L,1.000000,1.333333,-0.333333,5.666667,49.333333,...,Girona,Sevilla,1.0,1.666667,0.333333,1.333333,4.333333,59.000000,91.666667,7.0
37,2017-09-17 17:30:00,2017,4,1.0,W,1.333333,2.333333,-1.000000,5.000000,55.000000,...,Las Palmas,Athletic Club,0.0,1.000000,0.000000,1.000000,3.333333,52.333333,100.000000,7.0
38,2017-09-17 20:45:00,2017,4,1.0,L,3.333333,1.333333,2.000000,6.000000,54.666667,...,Real Sociedad,Real Madrid,3.0,2.000000,1.000000,1.000000,8.000000,67.333333,61.100000,5.0
39,2017-09-18 21:00:00,2017,4,2.0,W,0.333333,2.333333,-2.000000,2.666667,40.333333,...,Espanyol,Celta Vigo,1.0,1.333333,1.666667,-0.333333,3.000000,57.666667,66.666667,3.0
40,2017-09-19 20:00:00,2017,5,5.0,W,1.000000,0.750000,0.250000,3.500000,45.750000,...,Valencia,Malaga,0.0,0.250000,1.500000,-1.250000,4.000000,48.250000,73.950000,0.0
41,2017-09-19 22:00:00,2017,5,6.0,W,2.750000,0.250000,2.500000,6.500000,70.000000,...,Barcelona,Eibar,1.0,0.500000,1.000000,-0.500000,4.000000,49.750000,81.250000,6.0
42,2017-09-20 20:00:00,2017,5,1.0,L,0.750000,0.250000,0.500000,3.750000,50.500000,...,Athletic Club,Atletico Madrid,2.0,2.000000,0.750000,1.250000,4.250000,50.750000,80.566667,8.0
43,2017-09-20 20:00:00,2017,5,0.0,D,0.750000,0.750000,0.000000,4.750000,49.750000,...,Leganes,Girona,0.0,0.750000,1.250000,-0.500000,4.250000,48.250000,67.700000,4.0
44,2017-09-20 21:00:00,2017,5,1.0,W,1.250000,2.750000,-1.500000,3.750000,39.250000,...,Deportivo La Coruna,Alaves,0.0,0.000000,1.750000,-1.750000,2.750000,39.000000,66.300000,0.0