In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('D:\dev\project\Football-Match-Prediction\data\processed\la_liga_data.csv')
data['Time'] = pd.to_datetime(data['Time'])
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5520 entries, 0 to 5519
Data columns (total 165 columns):
 #    Column                Dtype
---   ------                -----
 0    Time                  datetime64[ns]
 1    Comp                  object
 2    Round                 int64
 3    Day                   int64
 4    Venue                 int64
 5    Result                object
 6    GF                    float64
 7    GA                    float64
 8    Opponent              object
 9    xG                    float64
 10   xGA                   float64
 11   Captain               object
 12   Formation             object
 13   Opp Formation         object
 14   Referee               object
 15   Standard__Gls         int64
 16   Standard__Sh          float64
 17   Standard__SoT         float64
 18   Standard__SoT%        float64
 19   Standard__G/Sh        float64
 20   Standard__G/SoT       float64
 21   Standard__Dist        float64
 22   Standard__FK          float64
 23   Standard__PK          int64
 24   Standard__PKatt       int64
 25   Expected__xG          float64
 26   Expected__npxG        float64
 27   Expected__npxG/Sh     float64
 28   Expected__G-xG        float64
 29   Expected__np:G-xG     float64
 30   Performance__SoTA     float64
 31   Performance__GA       float64
 32   Performance__Saves    float64
 33   Performance__Save%    float64
 34   Performance__CS       float64
 35   Performance__PSxG     float64
 36   Performance__PSxG+/-  float64
 37   Penalty Kicks__PKatt  float64
 38   Penalty Kicks__PKA    float64
 39   Penalty Kicks__PKsv   float64
 40   Penalty Kicks__PKm    float64
 41   Launched__Cmp         float64
 42   Launched__Att         float64
 43   Launched__Cmp%        float64
 44   Passes__Att (GK)      float64
 45   Passes__Thr           float64
 46   Passes__Launch%       float64
 47   Passes__AvgLen        float64
 48   Goal Kicks__Att       float64
 49   Goal Kicks__Launch%   float64
 50   Goal Kicks__AvgLen    float64
 51   Crosses__Opp          float64
 52   Crosses__Stp          float64
 53   Crosses__Stp%         float64
 54   Sweeper__#OPA         float64
 55   Total__Cmp            float64
 56   Total__Att            float64
 57   Total__Cmp%           float64
 58   Total__TotDist        float64
 59   Total__PrgDist        float64
 60   Short__Cmp            float64
 61   Short__Att            float64
 62   Short__Cmp%           float64
 63   Medium__Cmp           float64
 64   Medium__Att           float64
 65   Medium__Cmp%          float64
 66   Long__Cmp             float64
 67   Long__Att             float64
 68   Long__Cmp%            float64
 69   Ast                   int64
 70   xAG                   float64
 71   xA                    float64
 72   KP                    float64
 73   1/3                   float64
 74   PPA                   float64
 75   CrsPA                 float64
 76   PrgP                  float64
 77   Att                   float64
 78   Pass Types__Live      float64
 79   Pass Types__Dead      float64
 80   Pass Types__FK        float64
 81   Pass Types__TB        float64
 82   Pass Types__Sw        float64
 83   Pass Types__Crs       float64
 84   Pass Types__TI        float64
 85   Pass Types__CK        float64
 86   Corner Kicks__In      float64
 87   Corner Kicks__Out     float64
 88   Corner Kicks__Str     float64
 89   Outcomes__Cmp         float64
 90   Outcomes__Off         float64
 91   Outcomes__Blocks      float64
 92   SCA Types__SCA        float64
 93   SCA Types__PassLive   float64
 94   SCA Types__PassDead   float64
 95   SCA Types__TO         float64
 96   SCA Types__Sh         float64
 97   SCA Types__Fld        float64
 98   SCA Types__Def        float64
 99   GCA Types__GCA        float64
 100  GCA Types__PassLive   float64
 101  GCA Types__PassDead   float64
 102  GCA Types__TO         float64
 103  GCA Types__Sh         float64
 104  GCA Types__Fld        float64
 105  GCA Types__Def        float64
 106  Tackles__Tkl          float64
 107  Tackles__TklW         float64
 108  Tackles__Def 3rd      float64
 109  Tackles__Mid 3rd      float64
 110  Tackles__Att 3rd      float64
 111  Challenges__Tkl       float64
 112  Challenges__Att       float64
 113  Challenges__Tkl%      float64
 114  Challenges__Lost      float64
 115  Blocks__Blocks        float64
 116  Blocks__Sh            float64
 117  Blocks__Pass          float64
 118  Int                   float64
 119  Tkl+Int               int64
 120  Clr                   float64
 121  Err                   float64
 122  Touches__Touches      float64
 123  Touches__Def Pen      float64
 124  Touches__Def 3rd      float64
 125  Touches__Mid 3rd      float64
 126  Touches__Att 3rd      float64
 127  Touches__Att Pen      float64
 128  Touches__Live         float64
 129  Take-Ons__Att         float64
 130  Take-Ons__Succ        float64
 131  Take-Ons__Succ%       float64
 132  Take-Ons__Tkld        float64
 133  Take-Ons__Tkld%       float64
 134  Carries__Carries      float64
 135  Carries__TotDist      float64
 136  Carries__PrgDist      float64
 137  Carries__PrgC         float64
 138  Carries__1/3          float64
 139  Carries__CPA          float64
 140  Carries__Mis          float64
 141  Carries__Dis          float64
 142  Receiving__Rec        float64
 143  Receiving__PrgR       float64
 144  Performance__CrdY     int64
 145  Performance__CrdR     int64
 146  Performance__2CrdY    int64
 147  Performance__Fls      float64
 148  Performance__Fld      float64
 149  Performance__Off      float64
 150  Performance__Crs      float64
 151  Performance__Int      float64
 152  Performance__TklW     float64
 153  Performance__PKwon    float64
 154  Performance__PKcon    float64
 155  Performance__OG       float64
 156  Performance__Recov    float64
 157  Aerial Duels__Won     float64
 158  Aerial Duels__Lost    float64
 159  Aerial Duels__Won%    float64
 160  Season                int64
 161  Team                  object
 162  Points                int64
 163  Poss                  float64
 164  GD                    float64
dtypes: datetime64[ns](1), float64(143), int64(13), object(8)
memory usage: 6.9+ MB

In [2]:
data.head()

,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,xG,...,Performance__OG,Performance__Recov,Aerial Duels__Won,Aerial Duels__Lost,Aerial Duels__Won%,Season,Team,Points,Poss,GD
0,2017-08-18 20:15:00,La Liga,1,5,0,L,0.0,1.0,Leganes,1.1,...,0.0,60.0,16.0,30.0,34.8,2017,Alaves,0,47.0,-1.0
1,2017-08-18 20:15:00,La Liga,1,5,1,W,1.0,0.0,Alaves,1.3,...,0.0,55.0,30.0,16.0,65.2,2017,Leganes,3,53.0,1.0
2,2017-08-18 22:15:00,La Liga,1,5,0,L,0.0,1.0,Valencia,0.2,...,0.0,42.0,6.0,8.0,42.9,2017,Las Palmas,0,53.0,-1.0
3,2017-08-18 22:15:00,La Liga,1,5,1,W,1.0,0.0,Las Palmas,1.4,...,0.0,54.0,8.0,6.0,57.1,2017,Valencia,3,47.0,1.0
4,2017-08-19 18:15:00,La Liga,1,6,1,L,2.0,3.0,Real Sociedad,1.8,...,0.0,48.0,11.0,12.0,47.8,2017,Celta Vigo,0,53.0,-1.0

In [3]:
data.drop(columns=['Comp', 'Day', 'Captain', 'Formation', 'Opp Formation', 'Referee'], inplace=True)

In [4]:
for col in data.select_dtypes(include=[np.number]).columns:
    data[col] = data[col].fillna(data.groupby('Team')[col].transform('mean'))
    # df2[cols] = df2[cols].fillna(df2.groupby('Team')[cols].mean())

#### Get current form features

In [5]:
current_form_features = pd.read_csv('D:/dev/project/Football-Match-Prediction/src/eda/eda_data/selected/all_feature_names.csv')#.drop(axis = 0, labels=['Performance__GA', 'Standard__Gls'], inplace=False)   
window_size = 5
current_form_features = set(current_form_features['Feature_Name'].values)
current_form_features.remove('Performance__GA')
current_form_features.remove('Standard__Gls')
current_form_features = list(current_form_features) #+  ['Ast', 'KP', 'PPA', 'Pass Types__TB', 'Pass Types__Crs',
          #   'Touches__Att Pen', 'Carries__CPA', 'Performance__PKwon', 'Performance__Crs'])
current_form_features

['GCA Types__Sh',
 'Standard__G/SoT',
 'Standard__SoT',
 'Performance__PSxG',
 'GCA Types__PassLive',
 'Standard__G/Sh',
 'Err',
 'GCA Types__GCA',
 'GCA Types__TO',
 'Clr',
 'Performance__Save%',
 'Performance__CS',
 'Standard__SoT%',
 'Challenges__Lost']

In [6]:
# Sort the data by Team, Season, Round, and Time
data = data.sort_values(['Team', 'Season', 'Round', 'Time'])
train_data = data[['Time', 'Season', 'Venue', 'Round', 'Team', 'Opponent', 'GF', 'GA', 'Result']].copy()
# Calculate rolling averages for the last 5 matches
for feature in current_form_features:
    if feature != 'Performance__CS':
        train_data[f"{feature}_avg_last5"] = data.groupby('Team')[feature].transform(
            lambda x: x.shift().rolling(window=window_size, min_periods=1).mean()
        )
    else:
        train_data[f"{feature}_avg_last5"] = data.groupby('Team')[feature].transform(
            lambda x: x.shift().rolling(window=window_size, min_periods=1).sum()
        )

# Calculate the current points
train_data['CurrentPoints'] = data.groupby(['Team', 'Season'])['Points'].transform(
    lambda x: x.shift().cumsum()
).fillna(0)

# Calculate total points per team and season
team_season_points = data.groupby(['Team', 'Season'])['Points'].sum().reset_index()

# Sort values to ensure correct shift
team_season_points.sort_values(['Team', 'Season'], inplace=True)

# Shift the points to get last season's points
team_season_points['LastSeasonPoints'] = team_season_points.groupby('Team')['Points'].shift(1).fillna(0)

# Merge the last season points back to train_data
train_data = train_data.merge(team_season_points[['Team', 'Season', 'LastSeasonPoints']], on=['Team', 'Season'], how='left')

In [7]:
train_data.sort_values(['Team', 'Season', 'Round', 'Time'], inplace=True)
# pd.set_option('display.max_rows', None)
# train_data[['Team', 'Season', 'Round', 'CurrentPoints', 'LastSeasonPoints']][train_data['Team'] == 'Leganes'].head(80)

In [8]:
prematch_cols = ['Time', 'Round', 'Venue', 'Season']
# train_data = data[prematch_cols + ['Team', 'Opponent', 'Result', 'GF', 'GA']].sort_values(by=['Season', 'Round', 'Time'])
# Rename columns to include 'HomeTeam_' prefix where Venue == 1
df_team = train_data[train_data['Venue'] == 1].copy()
df_team['HomeTeam'] = df_team['Team']
df_team.drop(columns=['Team'], inplace=True)
df_team['AwayTeam'] = df_team['Opponent']
df_team.drop(columns=['Opponent'], inplace=True)
df_team = df_team.rename(columns=lambda x: f"HomeTeam_{x}" if x not in (prematch_cols + ['HomeTeam', 'AwayTeam']) else x)
df_team.drop(columns=['Venue'], inplace=True)
df_opponent = train_data[train_data['Venue'] == 0].copy()
df_opponent['AwayTeam'] = df_opponent['Team']
df_opponent = df_opponent.drop(columns=['Team'])
df_opponent['HomeTeam'] = df_opponent['Opponent']
df_opponent = df_opponent.drop(columns=['Opponent'])
df_opponent = df_opponent.rename(columns=lambda x: f"AwayTeam_{x}" if x not in (prematch_cols + ['HomeTeam', 'AwayTeam']) else x)
df_opponent.drop(columns=['Venue'], inplace=True)   
# Merge the two dataframes
prematch_cols.remove('Venue')
train_data_merged = pd.merge(df_team, df_opponent, on=(prematch_cols + ['HomeTeam', 'AwayTeam']))
train_data_merged.drop(columns=['HomeTeam_GA', 'AwayTeam_GA', 'AwayTeam_Result'], inplace=True)

In [9]:
train_data_merged = train_data_merged.sort_values(['Season', 'Round', 'Time']).reset_index(drop=True)

In [10]:
train_data_merged.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2760 entries, 0 to 2759
Data columns (total 40 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Time                                    2760 non-null   datetime64[ns]
 1   Season                                  2760 non-null   int64
 2   Round                                   2760 non-null   int64
 3   HomeTeam_GF                             2760 non-null   float64
 4   HomeTeam_Result                         2760 non-null   object
 5   HomeTeam_GCA Types__Sh_avg_last5        2746 non-null   float64
 6   HomeTeam_Standard__G/SoT_avg_last5      2746 non-null   float64
 7   HomeTeam_Standard__SoT_avg_last5        2746 non-null   float64
 8   HomeTeam_Performance__PSxG_avg_last5    2746 non-null   float64
 9   HomeTeam_GCA Types__PassLive_avg_last5  2746 non-null   float64
 10  HomeTeam_Standard__G/Sh_avg_last5       2746 non-null   float64
 11  HomeTeam_Err_avg_last5                  2746 non-null   float64
 12  HomeTeam_GCA Types__GCA_avg_last5       2746 non-null   float64
 13  HomeTeam_GCA Types__TO_avg_last5        2746 non-null   float64
 14  HomeTeam_Clr_avg_last5                  2746 non-null   float64
 15  HomeTeam_Performance__Save%_avg_last5   2746 non-null   float64
 16  HomeTeam_Performance__CS_avg_last5      2746 non-null   float64
 17  HomeTeam_Standard__SoT%_avg_last5       2746 non-null   float64
 18  HomeTeam_Challenges__Lost_avg_last5     2746 non-null   float64
 19  HomeTeam_CurrentPoints                  2760 non-null   float64
 20  HomeTeam_LastSeasonPoints               2760 non-null   float64
 21  HomeTeam                                2760 non-null   object
 22  AwayTeam                                2760 non-null   object
 23  AwayTeam_GF                             2760 non-null   float64
 24  AwayTeam_GCA Types__Sh_avg_last5        2745 non-null   float64
 25  AwayTeam_Standard__G/SoT_avg_last5      2745 non-null   float64
 26  AwayTeam_Standard__SoT_avg_last5        2745 non-null   float64
 27  AwayTeam_Performance__PSxG_avg_last5    2745 non-null   float64
 28  AwayTeam_GCA Types__PassLive_avg_last5  2745 non-null   float64
 29  AwayTeam_Standard__G/Sh_avg_last5       2745 non-null   float64
 30  AwayTeam_Err_avg_last5                  2745 non-null   float64
 31  AwayTeam_GCA Types__GCA_avg_last5       2745 non-null   float64
 32  AwayTeam_GCA Types__TO_avg_last5        2745 non-null   float64
 33  AwayTeam_Clr_avg_last5                  2745 non-null   float64
 34  AwayTeam_Performance__Save%_avg_last5   2745 non-null   float64
 35  AwayTeam_Performance__CS_avg_last5      2745 non-null   float64
 36  AwayTeam_Standard__SoT%_avg_last5       2745 non-null   float64
 37  AwayTeam_Challenges__Lost_avg_last5     2745 non-null   float64
 38  AwayTeam_CurrentPoints                  2760 non-null   float64
 39  AwayTeam_LastSeasonPoints               2760 non-null   float64
dtypes: datetime64[ns](1), float64(34), int64(2), object(3)
memory usage: 862.6+ KB

In [11]:
train_data.sort_values('Time', inplace=True)

# Initialize a list to store head-to-head stats
h2h_stats = []

# Iterate over each match in df_merged
for index, row in train_data_merged.iterrows():
    home_team = row['HomeTeam']
    away_team = row['AwayTeam']
    match_time = row['Time']
    
    # Filter past matches between the two teams
    past_matches = train_data[
        (((train_data['Team'] == home_team) & (train_data['Opponent'] == away_team)) |
         ((train_data['Team'] == away_team) & (train_data['Opponent'] == home_team))) &
        (train_data['Time'] < match_time)
    ]
    
    total_matches = len(past_matches)
    if total_matches == 0:
        home_wins = away_wins = draws = home_goals = away_goals = 0
    else:
        # Results from the perspective of the home team
        home_wins = ((past_matches['Team'] == home_team) & (past_matches['Result'] == 'W')).sum()
        away_wins = ((past_matches['Team'] == home_team) & (past_matches['Result'] == 'L')).sum()
        draws = (past_matches['Result'] == 'D').sum()
        
        # Goals scored by each team
        home_goals = past_matches.loc[past_matches['Team'] == home_team, 'GF'].sum() + \
                     past_matches.loc[past_matches['Opponent'] == home_team, 'GA'].sum()
        away_goals = past_matches.loc[past_matches['Team'] == away_team, 'GF'].sum() + \
                     past_matches.loc[past_matches['Opponent'] == away_team, 'GA'].sum()
    
    h2h_stats.append({
        'H2H_Total_Matches': total_matches,
        'H2H_Home_Wins': home_wins,
        'H2H_Away_Wins': away_wins,
        'H2H_Draws': draws,
        'H2H_Home_Goals': home_goals,
        'H2H_Away_Goals': away_goals,
    })

# Convert the list to a DataFrame
h2h_stats_df = pd.DataFrame(h2h_stats)

# Merge the head-to-head stats with the original dataframe
df_merged = pd.concat([train_data_merged.reset_index(drop=True), h2h_stats_df], axis=1)

In [17]:
df_merged.sort_values('Time', inplace=True)
df_merged.head(50)

,Time,Season,Round,HomeTeam_GF,HomeTeam_Result,HomeTeam_GCA Types__Sh_avg_last5,HomeTeam_Standard__G/SoT_avg_last5,HomeTeam_Standard__SoT_avg_last5,HomeTeam_Performance__PSxG_avg_last5,HomeTeam_GCA Types__PassLive_avg_last5,HomeTeam_Standard__G/Sh_avg_last5,HomeTeam_Err_avg_last5,HomeTeam_GCA Types__GCA_avg_last5,HomeTeam_GCA Types__TO_avg_last5,HomeTeam_Clr_avg_last5,HomeTeam_Performance__Save%_avg_last5,HomeTeam_Performance__CS_avg_last5,HomeTeam_Standard__SoT%_avg_last5,HomeTeam_Challenges__Lost_avg_last5,HomeTeam_CurrentPoints,HomeTeam_LastSeasonPoints,HomeTeam,AwayTeam,AwayTeam_GF,AwayTeam_GCA Types__Sh_avg_last5,AwayTeam_Standard__G/SoT_avg_last5,AwayTeam_Standard__SoT_avg_last5,AwayTeam_Performance__PSxG_avg_last5,AwayTeam_GCA Types__PassLive_avg_last5,AwayTeam_Standard__G/Sh_avg_last5,AwayTeam_Err_avg_last5,AwayTeam_GCA Types__GCA_avg_last5,AwayTeam_GCA Types__TO_avg_last5,AwayTeam_Clr_avg_last5,AwayTeam_Performance__Save%_avg_last5,AwayTeam_Performance__CS_avg_last5,AwayTeam_Standard__SoT%_avg_last5,AwayTeam_Challenges__Lost_avg_last5,AwayTeam_CurrentPoints,AwayTeam_LastSeasonPoints,H2H_Total_Matches,H2H_Home_Wins,H2H_Away_Wins,H2H_Draws,H2H_Home_Goals,H2H_Away_Goals
0,2017-08-18 20:15:00,2017,1,1.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Leganes,Alaves,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0.0,0.0
1,2017-08-18 22:15:00,2017,1,1.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Valencia,Las Palmas,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0.0,0.0
2,2017-08-19 18:15:00,2017,1,2.0,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Celta Vigo,Real Sociedad,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0.0,0.0
3,2017-08-19 20:15:00,2017,1,2.0,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Girona,Atletico Madrid,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0.0,0.0
4,2017-08-19 22:15:00,2017,1,1.0,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Sevilla,Espanyol,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0.0,0.0
5,2017-08-20 18:15:00,2017,1,0.0,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Athletic Club,Getafe,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0.0,0.0
6,2017-08-20 20:15:00,2017,1,2.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Barcelona,Real Betis,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0.0,0.0
7,2017-08-20 22:15:00,2017,1,0.0,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Deportivo La Coruna,Real Madrid,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0.0,0.0
8,2017-08-21 20:15:00,2017,1,1.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Levante,Villarreal,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0.0,0.0
9,2017-08-21 22:00:00,2017,1,0.0,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Malaga,Eibar,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0.0,0.0
10,2017-08-25 20:15:00,2017,2,3.0,W,0.000000,0.400000,5.000000,1.700000,3.000000,0.170000,0.000000,4.000000,0.000000,18.000000,60.000000,0.0,41.700000,4.000000,3.0,0.0,Real Sociedad,Villarreal,0.0,0.000000,0.000000,1.000000,1.300000,0.000000,0.000000,0.000000,0.000000,0.000000,33.000000,100.000000,0.0,12.500000,7.000000,0.0,0.0,0,0,0,0,0.0,0.0
11,2017-08-25 22:00:00,2017,2,2.0,W,0.000000,0.269030,0.000000,0.700000,0.000000,0.000000,1.000000,0.000000,0.000000,24.000000,0.000000,0.0,0.000000,11.000000,0.0,0.0,Real Betis,Celta Vigo,1.0,1.000000,0.400000,5.000000,2.400000,3.000000,0.130000,1.000000,4.000000,0.000000,15.000000,66.700000,0.0,31.300000,4.000000,0.0,0.0,0,0,0,0,0.0,0.0
12,2017-08-26 18:15:00,2017,2,0.0,L,0.000000,0.000000,4.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,17.000000,66.700000,0.0,50.000000,7.000000,0.0,0.0,Alaves,Barcelona,2.0,0.000000,0.500000,2.000000,0.000000,1.000000,0.070000,1.000000,1.000000,0.000000,2.000000,74.895489,1.0,13.300000,4.000000,3.0,0.0,0,0,0,0,0.0,0.0
13,2017-08-26 20:15:00,2017,2,1.0,W,0.000000,0.330000,6.000000,0.600000,3.000000,0.150000,1.000000,4.000000,0.000000,34.000000,33.300000,0.0,46.200000,12.000000,1.0,0.0,Girona,Malaga,0.0,0.000000,0.000000,4.000000,2.600000,0.000000,0.000000,0.000000,0.000000,0.000000,38.000000,83.300000,0.0,40.000000,12.000000,0.0,0.0,0,0,0,0,0.0,0.0
14,2017-08-26 20:15:00,2017,2,2.0,D,0.000000,0.000000,2.000000,0.400000,0.000000,0.000000,0.000000,2.000000,1.000000,15.000000,100.000000,1.0,15.400000,3.000000,3.0,0.0,Levante,Deportivo La Coruna,2.0,0.000000,0.000000,4.000000,1.900000,0.000000,0.000000,1.000000,0.000000,0.000000,22.000000,62.500000,0.0,36.400000,7.000000,0.0,0.0,0,0,0,0,0.0,0.0
15,2017-08-26 21:15:00,2017,2,1.0,L,0.000000,0.000000,4.000000,0.800000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,83.300000,0.0,80.000000,5.000000,0.0,0.0,Las Palmas,Atletico Madrid,5.0,0.000000,0.670000,3.000000,3.200000,2.000000,0.220000,1.000000,4.000000,0.000000,32.000000,66.700000,0.0,33.300000,4.000000,1.0,0.0,0,0,0,0,0.0,0.0
16,2017-08-27 18:15:00,2017,2,0.0,L,0.000000,0.170000,6.000000,0.600000,2.000000,0.080000,0.000000,2.000000,0.000000,20.000000,100.000000,1.0,46.200000,4.000000,3.0,0.0,Eibar,Athletic Club,1.0,0.000000,0.000000,2.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,18.000000,100.000000,1.0,15.400000,7.000000,1.0,0.0,0,0,0,0,0.0,0.0
17,2017-08-27 18:15:00,2017,2,0.0,L,0.000000,0.170000,6.000000,2.000000,0.000000,0.110000,1.000000,2.000000,1.000000,27.000000,75.000000,0.0,66.700000,8.000000,1.0,0.0,Espanyol,Leganes,1.0,1.000000,0.330000,3.000000,1.600000,0.000000,0.070000,0.000000,1.000000,0.000000,20.000000,100.000000,1.0,21.400000,8.000000,3.0,0.0,0,0,0,0,0.0,0.0
18,2017-08-27 20:15:00,2017,2,0.0,L,0.000000,0.000000,2.000000,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,30.000000,100.000000,1.0,25.000000,19.000000,1.0,0.0,Getafe,Sevilla,1.0,0.000000,0.250000,4.000000,1.500000,2.000000,0.110000,1.000000,2.000000,0.000000,22.000000,75.000000,0.0,44.400000,11.000000,1.0,0.0,0,0,0,0,0.0,0.0
19,2017-08-27 22:15:00,2017,2,2.0,D,1.000000,0.380000,8.000000,1.600000,5.000000,0.190000,0.000000,6.000000,0.000000,11.000000,100.000000,1.0,50.000000,7.000000,3.0,0.0,Real Madrid,Valencia,2.0,0.000000,0.170000,6.000000,0.700000,2.000000,0.050000,0.000000,2.000000,0.000000,16.000000,100.000000,1.0,27.300000,9.000000,3.0,0.0,0,0,0,0,0.0,0.0
20,2017-09-08 21:00:00,2017,3,1.0,L,1.000000,0.230000,5.500000,0.850000,0.000000,0.075000,0.000000,1.000000,0.000000,29.500000,100.000000,2.0,44.050000,6.500000,6.0,0.0,Leganes,Getafe,2.0,0.000000,0.000000,2.500000,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000,24.500000,83.350000,1.0,22.500000,15.500000,1.0,0.0,0,0,0,0,0.0,0.0
21,2017-09-09 13:00:00,2017,3,1.0,D,0.500000,0.355000,7.000000,1.650000,3.000000,0.140000,0.000000,4.000000,0.000000,9.500000,66.650000,1.0,38.650000,5.500000,4.0,0.0,Real Madrid,Levante,1.0,0.000000,0.125000,3.000000,0.700000,1.000000,0.020000,0.000000,2.500000,0.500000,11.500000,75.000000,1.0,16.400000,3.000000,4.0,0.0,0,0,0,0,0.0,0.0
22,2017-09-09 16:15:00,2017,3,0.0,D,0.000000,0.420000,4.500000,1.650000,3.000000,0.170000,0.500000,3.000000,0.000000,23.000000,83.350000,1.0,35.100000,9.500000,4.0,0.0,Valencia,Atletico Madrid,0.0,0.000000,0.750000,4.500000,2.450000,4.000000,0.425000,0.500000,6.500000,1.000000,29.000000,70.850000,0.0,54.150000,8.500000,4.0,0.0,0,0,0,0,0.0,0.0
23,2017-09-09 18:30:00,2017,3,3.0,W,0.000000,0.290000,3.500000,1.400000,2.000000,0.140000,0.500000,2.000000,0.000000,34.000000,87.500000,1.0,47.200000,8.000000,4.0,0.0,Sevilla,Eibar,0.0,0.000000,0.085000,5.500000,0.900000,1.000000,0.040000,0.000000,1.000000,0.000000,24.500000,87.500000,1.0,40.950000,6.500000,3.0,0.0,0,0,0,0,0.0,0.0
24,2017-09-09 20:45:00,2017,3,5.0,W,0.000000,0.350000,6.000000,0.300000,1.500000,0.080000,0.500000,2.000000,0.000000,4.500000,87.447744,2.0,29.400000,6.000000,6.0,0.0,Barcelona,Espanyol,0.0,0.000000,0.085000,3.500000,1.650000,0.000000,0.055000,0.500000,1.000000,0.500000,18.500000,81.250000,0.0,36.700000,6.000000,1.0,0.0,0,0,0,0,0.0,0.0
25,2017-09-10 12:00:00,2017,3,2.0,L,0.000000,0.250000,4.000000,2.200000,1.500000,0.090000,0.500000,2.000000,0.000000,31.000000,71.250000,0.0,36.400000,10.000000,1.0,0.0,Deportivo La Coruna,Real Sociedad,4.0,0.500000,0.365000,7.000000,0.900000,2.500000,0.185000,0.000000,4.500000,0.000000,18.500000,80.000000,1.0,50.850000,6.000000,6.0,0.0,0,0,0,0,0.0,0.0
26,2017-09-10 16:15:00,2017,3,2.0,W,0.000000,0.125000,3.000000,0.650000,1.000000,0.055000,0.000000,1.000000,0.000000,21.500000,100.000000,2.0,29.900000,8.500000,4.0,0.0,Athletic Club,Girona,0.0,0.500000,0.290000,5.000000,0.450000,1.500000,0.110000,0.500000,2.500000,0.000000,28.500000,66.650000,1.0,36.450000,14.000000,4.0,0.0,0,0,0,0,0.0,0.0
27,2017-09-10 18:30:00,2017,3,1.0,W,0.500000,0.200000,3.000000,1.900000,1.500000,0.065000,0.500000,2.000000,0.000000,13.500000,50.000000,0.0,21.200000,6.500000,0.0,0.0,Celta Vigo,Alaves,0.0,0.000000,0.000000,3.000000,1.650000,0.000000,0.000000,1.000000,0.000000,0.000000,23.500000,74.250000,0.0,34.100000,14.000000,0.0,0.0,0,0,0,0,0.0,0.0
28,2017-09-10 20:45:00,2017,3,3.0,W,0.000000,0.000000,1.000000,1.750000,0.000000,0.000000,0.500000,0.000000,0.000000,28.000000,83.350000,0.0,14.600000,6.000000,0.0,0.0,Villarreal,Real Betis,1.0,0.000000,0.469515,1.500000,0.450000,1.500000,0.100000,0.500000,2.000000,0.000000,23.000000,0.000000,0.0,15.000000,10.000000,3.0,0.0,0,0,0,0,0.0,0.0
29,2017-09-11 21:00:00,2017,3,1.0,L,0.000000,0.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,29.500000,79.150000,0.0,34.300000,16.000000,0.0,0.0,Malaga,Las Palmas,3.0,0.000000,0.165000,3.500000,1.450000,1.000000,0.050000,0.000000,1.000000,0.000000,12.500000,50.000000,0.0,55.000000,7.000000,0.0,0.0,0,0,0,0,0.0,0.0
30,2017-09-15 21:00:00,2017,4,1.0,W,0.000000,0.056667,4.000000,1.333333,0.666667,0.026667,0.000000,0.666667,0.000000,20.666667,75.000000,1.0,32.066667,6.333333,3.0,0.0,Eibar,Leganes,0.0,1.000000,0.210000,5.666667,0.900000,0.000000,0.083333,0.000000,1.000000,0.000000,22.666667,66.666667,2.0,49.366667,5.000000,6.0,0.0,0,0,0,0,0.0,0.0
31,2017-09-16 13:00:00,2017,4,1.0,D,0.333333,0.250000,2.666667,1.433333,0.666667,0.080000,0.000000,2.333333,0.333333,19.333333,80.000000,1.0,24.266667,5.000000,5.0,0.0,Levante,Valencia,1.0,0.000000,0.381229,3.000000,1.300000,2.000000,0.113333,0.333333,2.000000,0.000000,20.666667,88.900000,2.0,23.400000,9.000000,5.0,0.0,0,0,0,0,0.0,0.0
32,2017-09-16 16:15:00,2017,4,1.0,L,0.333333,0.333333,2.333333,1.566667,0.666667,0.066667,0.000000,1.333333,0.000000,25.000000,84.133333,1.0,21.666667,14.000000,4.0,0.0,Getafe,Barcelona,2.0,0.333333,0.420000,7.000000,0.266667,3.000000,0.136667,0.666667,4.333333,0.333333,9.000000,91.631830,3.0,34.600000,4.666667,9.0,0.0,0,0,0,0,0.0,0.0
33,2017-09-16 18:30:00,2017,4,2.0,W,0.000000,0.423010,2.000000,0.933333,1.666667,0.110000,0.666667,2.000000,0.000000,24.666667,19.033333,0.0,22.500000,8.000000,3.0,0.0,Real Betis,Deportivo La Coruna,1.0,0.000000,0.333333,4.000000,2.333333,2.333333,0.120000,0.333333,2.666667,0.000000,26.000000,47.500000,0.0,36.400000,10.666667,1.0,0.0,0,0,0,0,0.0,0.0
34,2017-09-16 20:45:00,2017,4,1.0,W,0.000000,0.500000,4.333333,1.633333,2.666667,0.283333,0.333333,4.333333,0.666667,27.000000,72.345211,1.0,46.366667,8.000000,5.0,0.0,Atletico Madrid,Malaga,0.0,0.000000,0.056667,4.000000,2.766667,0.000000,0.023333,0.000000,0.666667,0.000000,23.666667,73.600000,0.0,37.166667,15.000000,0.0,0.0,0,0,0,0,0.0,0.0
35,2017-09-17 12:00:00,2017,4,0.0,L,0.000000,0.000000,3.000000,1.433333,0.000000,0.000000,0.666667,0.000000,0.000000,21.000000,71.733333,0.0,42.733333,13.333333,0.0,0.0,Alaves,Villarreal,3.0,0.000000,0.143333,3.000000,1.633333,1.333333,0.070000,0.333333,1.333333,0.000000,25.333333,77.800000,0.0,26.400000,7.333333,3.0,0.0,0,0,0,0,0.0,0.0
36,2017-09-17 16:15:00,2017,4,0.0,L,0.333333,0.193333,5.666667,0.900000,1.000000,0.073333,0.333333,1.666667,0.000000,25.666667,61.100000,1.0,43.733333,11.666667,4.0,0.0,Girona,Sevilla,1.0,0.000000,0.360000,4.333333,1.033333,3.333333,0.176667,0.333333,3.333333,0.000000,26.666667,91.666667,2.0,48.133333,7.333333,7.0,0.0,0,0,0,0,0.0,0.0
37,2017-09-17 17:30:00,2017,4,1.0,W,0.000000,0.236667,5.000000,1.400000,2.000000,0.133333,0.000000,2.333333,0.333333,16.000000,61.100000,0.0,63.333333,6.666667,3.0,0.0,Las Palmas,Athletic Club,0.0,0.000000,0.250000,3.333333,0.633333,2.000000,0.133333,0.000000,2.000000,0.000000,25.000000,100.000000,3.0,38.966667,8.666667,7.0,0.0,0,0,0,0,0.0,0.0
38,2017-09-17 20:45:00,2017,4,1.0,L,0.333333,0.576667,6.000000,1.100000,2.666667,0.213333,0.000000,5.000000,0.666667,22.666667,70.000000,1.0,42.800000,7.000000,9.0,0.0,Real Sociedad,Real Madrid,3.0,0.666667,0.270000,8.000000,1.533333,2.000000,0.113333,0.333333,3.000000,0.000000,9.666667,61.100000,1.0,44.300000,5.666667,5.0,0.0,0,0,0,0,0.0,0.0
39,2017-09-18 21:00:00,2017,4,2.0,W,0.000000,0.056667,2.666667,3.133333,0.000000,0.036667,0.333333,0.666667,0.333333,19.000000,68.966667,0.0,28.166667,8.666667,1.0,0.0,Espanyol,Celta Vigo,1.0,0.333333,0.243333,3.000000,1.500000,1.666667,0.060000,0.333333,2.000000,0.000000,12.333333,66.666667,1.0,19.133333,6.333333,3.0,0.0,0,0,0,0,0.0,0.0
40,2017-09-19 20:00:00,2017,5,5.0,W,0.000000,0.335922,3.500000,1.125000,2.000000,0.105000,0.250000,2.000000,0.000000,22.500000,79.175000,2.0,27.175000,9.500000,6.0,0.0,Valencia,Malaga,0.0,0.000000,0.042500,4.000000,2.425000,0.000000,0.017500,0.000000,0.500000,0.000000,28.250000,73.950000,0.0,38.975000,13.750000,0.0,0.0,0,0,0,0,0.0,0.0
41,2017-09-19 22:00:00,2017,5,6.0,W,0.250000,0.415000,6.500000,0.375000,2.750000,0.175000,0.500000,4.250000,0.750000,10.750000,87.473872,3.0,43.800000,5.000000,12.0,0.0,Barcelona,Eibar,1.0,0.000000,0.105000,4.000000,1.150000,1.000000,0.045000,0.000000,1.000000,0.000000,22.750000,81.250000,2.0,34.050000,6.500000,6.0,0.0,0,0,0,0,0.0,0.0
42,2017-09-20 20:00:00,2017,5,1.0,L,0.000000,0.187500,3.750000,0.675000,1.500000,0.100000,0.000000,1.500000,0.000000,24.000000,91.675000,3.0,40.600000,8.750000,7.0,0.0,Athletic Club,Atletico Madrid,2.0,0.000000,0.437500,4.250000,1.275000,2.250000,0.227500,0.250000,3.750000,0.750000,23.000000,79.258908,2.0,40.650000,8.250000,8.0,0.0,0,0,0,0,0.0,0.0
43,2017-09-20 20:00:00,2017,5,0.0,D,0.750000,0.157500,4.750000,0.825000,0.000000,0.062500,0.000000,0.750000,0.000000,23.500000,68.750000,2.0,47.025000,6.000000,6.0,0.0,Leganes,Girona,0.0,0.250000,0.222032,4.250000,1.325000,0.750000,0.055000,0.500000,1.250000,0.000000,22.500000,67.700000,1.0,32.800000,10.500000,4.0,0.0,0,0,0,0,0.0,0.0
44,2017-09-20 21:00:00,2017,5,1.0,W,0.250000,0.332500,3.750000,2.450000,1.750000,0.110000,0.250000,2.250000,0.000000,27.250000,53.475000,0.0,33.550000,10.500000,1.0,0.0,Deportivo La Coruna,Alaves,0.0,0.000000,0.000000,2.750000,1.575000,0.000000,0.000000,0.500000,0.000000,0.000000,20.000000,66.300000,0.0,35.175000,11.000000,0.0,0.0,0,0,0,0,0.0,0.0
45,2017-09-20 22:00:00,2017,5,0.0,L,0.500000,0.285000,7.500000,1.325000,2.500000,0.112500,0.500000,3.250000,0.000000,12.750000,65.825000,1.0,41.550000,5.000000,8.0,0.0,Real Madrid,Real Betis,1.0,0.250000,0.389757,3.250000,0.875000,1.500000,0.112500,0.500000,2.000000,0.000000,22.500000,30.950000,0.0,27.175000,6.500000,6.0,0.0,0,0,0,0,0.0,0.0
46,2017-09-20 22:00:00,2017,5,1.0,W,0.000000,0.302500,5.250000,0.775000,3.000000,0.152500,0.250000,3.000000,0.000000,29.000000,87.177099,3.0,51.475000,8.750000,10.0,0.0,Sevilla,Las Palmas,0.0,0.000000,0.260000,4.500000,1.250000,1.750000,0.120000,0.000000,2.250000,0.500000,16.000000,70.825000,1.0,53.750000,5.500000,6.0,0.0,0,0,0,0,0.0,0.0
47,2017-09-21 20:00:00,2017,5,0.0,D,0.250000,0.232500,3.750000,1.250000,1.750000,0.100000,0.250000,2.250000,0.250000,25.750000,83.350000,1.0,29.175000,8.250000,6.0,0.0,Villarreal,Espanyol,0.0,0.000000,0.210000,2.750000,2.375000,0.750000,0.082500,0.500000,1.500000,0.250000,18.750000,51.725000,0.0,29.450000,10.000000,4.0,0.0,0,0,0,0,0.0,0.0
48,2017-09-21 21:00:00,2017,5,1.0,D,0.250000,0.432500,2.500000,1.350000,1.750000,0.067500,0.500000,2.000000,0.000000,12.250000,58.325000,1.0,16.625000,6.000000,3.0,0.0,Celta Vigo,Getafe,1.0,0.250000,0.312500,2.750000,1.725000,1.000000,0.070000,0.000000,1.500000,0.000000,26.000000,78.100000,1.0,23.950000,15.250000,4.0,0.0,0,0,0,0,0.0,0.0
49,2017-09-21 22:00:00,2017,5,3.0,W,0.250000,0.312500,2.500000,1.550000,1.000000,0.087500,0.000000,2.250000,0.250000,20.500000,80.000000,1.0,23.750000,6.000000,6.0,0.0,Levante,Real Sociedad,0.0,0.250000,0.482500,5.750000,1.275000,2.500000,0.185000,0.000000,4.250000,0.500000,21.750000,65.000000,1.0,44.600000,7.750000,9.0,0.0,0,0,0,0,0.0,0.0

In [13]:
df_merged.sort_values('Time', inplace=True)
df_merged.to_csv('D:/dev/project/Football-Match-Prediction/data/processed/df_merged.csv', index=False)

In [14]:
# import pandas as pd

# # Ensure 'Time' is datetime and sort the DataFrame chronologically
# train_data_merged['Time'] = pd.to_datetime(train_data_merged['Time'])
# train_data_merged.sort_values('Time', inplace=True)

# # Create a unique identifier for each team pair
# train_data_merged['TeamPair'] = train_data_merged.apply(lambda x: '_'.join(sorted([x['HomeTeam'], x['AwayTeam']])), axis=1)

# # Sort by 'TeamPair' and 'Time' to prepare for cumulative calculations
# train_data_merged.sort_values(['TeamPair', 'Time'], inplace=True)
# train_data_merged.head()

In [15]:
# # Initialize the head-to-head features
# head_to_head_features = [
#     'HeadToHead_Matches',
#     'HeadToHead_HomeWins',
#     'HeadToHead_AwayWins',
#     'HeadToHead_Draws',
#     'HeadToHead_HomeGoals',
#     'HeadToHead_AwayGoals'
# ]

# for feature in head_to_head_features:
#     train_data_merged[feature] = 0

# # Calculate cumulative head-to-head statistics excluding current match
# train_data_merged['HeadToHead_Matches'] = train_data_merged.groupby('TeamPair').cumcount()

# # Home Wins
# train_data_merged['HeadToHead_HomeWins'] = train_data_merged.groupby('TeamPair')['HomeTeam_Result'].transform(lambda x: (x == 'W').cumsum()).shift(1).fillna(0)

# # Away Wins
# train_data_merged['HeadToHead_AwayWins'] = train_data_merged.groupby('TeamPair')['HomeTeam_Result'].transform(lambda x: (x == 'L').cumsum()).shift(1).fillna(0)

# # Draws
# train_data_merged['HeadToHead_Draws'] = train_data_merged.groupby('TeamPair')['HomeTeam_Result'].transform(lambda x: (x == 'D').cumsum()).shift(1).fillna(0)

# # Cumulative Goals
# train_data_merged['HeadToHead_HomeGoals'] = train_data_merged.groupby('TeamPair')['HomeTeam_GF'].transform('cumsum').shift(1).fillna(0)
# train_data_merged['HeadToHead_AwayGoals'] = train_data_merged.groupby('TeamPair')['AwayTeam_GF'].transform('cumsum').shift(1).fillna(0)

In [16]:
pd.set_option('display.max_columns', None)

train_data_merged.sort_values('Time', inplace=True)
train_data_merged.head()

,Time,Season,Round,HomeTeam_GF,HomeTeam_Result,HomeTeam_GCA Types__Sh_avg_last5,HomeTeam_Standard__G/SoT_avg_last5,HomeTeam_Standard__SoT_avg_last5,HomeTeam_Performance__PSxG_avg_last5,HomeTeam_GCA Types__PassLive_avg_last5,HomeTeam_Standard__G/Sh_avg_last5,HomeTeam_Err_avg_last5,HomeTeam_GCA Types__GCA_avg_last5,HomeTeam_GCA Types__TO_avg_last5,HomeTeam_Clr_avg_last5,HomeTeam_Performance__Save%_avg_last5,HomeTeam_Performance__CS_avg_last5,HomeTeam_Standard__SoT%_avg_last5,HomeTeam_Challenges__Lost_avg_last5,HomeTeam_CurrentPoints,HomeTeam_LastSeasonPoints,HomeTeam,AwayTeam,AwayTeam_GF,AwayTeam_GCA Types__Sh_avg_last5,AwayTeam_Standard__G/SoT_avg_last5,AwayTeam_Standard__SoT_avg_last5,AwayTeam_Performance__PSxG_avg_last5,AwayTeam_GCA Types__PassLive_avg_last5,AwayTeam_Standard__G/Sh_avg_last5,AwayTeam_Err_avg_last5,AwayTeam_GCA Types__GCA_avg_last5,AwayTeam_GCA Types__TO_avg_last5,AwayTeam_Clr_avg_last5,AwayTeam_Performance__Save%_avg_last5,AwayTeam_Performance__CS_avg_last5,AwayTeam_Standard__SoT%_avg_last5,AwayTeam_Challenges__Lost_avg_last5,AwayTeam_CurrentPoints,AwayTeam_LastSeasonPoints
0,2017-08-18 20:15:00,2017,1,1.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Leganes,Alaves,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1,2017-08-18 22:15:00,2017,1,1.0,W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Valencia,Las Palmas,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,2017-08-19 18:15:00,2017,1,2.0,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Celta Vigo,Real Sociedad,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
3,2017-08-19 20:15:00,2017,1,2.0,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Girona,Atletico Madrid,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
4,2017-08-19 22:15:00,2017,1,1.0,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Sevilla,Espanyol,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0